<% layout("/layouts/boilerplate")%>

<body >
    <!-- <h3>All listings</h3> -->
    <!-- <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
 


    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-1" style="margin-top: 100px !important;">
        <% for(var i = 0; i < allListings.length ; i++){ %>
            <% const list = allListings[i]; %>  
            <% 
              const locationMatches = list.location.split(',').some(part => part.trim().toUpperCase() === newListingname.toUpperCase());
              const countryMatches = list.country.split(',').some(part => part.trim().toUpperCase() === newListingname.toUpperCase());
            %>
            <% if((newListingname ==123 || locationMatches || countryMatches) &&
            (list.category.toUpperCase()=== category.toUpperCase())) { %>           
            <a href="/casarentals/<%= list._id %>" class="listing-link">
                <div class="card col listing-card ">
                        <div class="shadow">
                            <img src="<%= list.image.url %>" class="card-img-top" alt="..." height="200rem">
                        </div>
                    <!-- <div class="card-img-overlay"></div> -->
                    <div class="card-body">
                      <p class="card-text"><b><%= list.title %></b> <br>
                        &#8377;<%= list.price.toLocaleString("en-IN") %> / night
                        <i class="tax-info">
                            &nbsp;&nbsp;+18% GST</i>
                    </p>
                    </div>
                  </div>
            </a>
            <% } %>
            <% } %>
            </div>
 <script>
 let texSwitch=document.getElementById("flexSwitchCheckDefault");
 texSwitch.addEventListener("click",()=>{
    let taxinfo=document.getElementsByClassName("tax-info");
    for(info of taxinfo){
        if(info.style.display !="inline")
        info.style.display="inline";
        else{
            info.style.display="none";
        }
    }
   }
 )
 </script>
</body>