<% layout("/layouts/boilerplate")%>
<body>
    <br>
    <div class="row">
        <div class="col-10 offset-1">
    <h3><%= listing.title %></h3>
    <form action="/casarentals/<%= listing._id %>/ticket" method="POST" class="needs-validation"
        >
        <div class="mb-2">
            <label for="name" class="form-label">Name</label>
            <input name="ticket[name]" type="text" class="form-control" required>
        </div> 
        <div class="mb-2">
            <label for="Quantity" class="form-label">Quantity</label>
            <input name="ticket[Quantity]" type="number" min="1" class="form-control" required>
        </div> 
        <div class="row">
            <div class="mb-2 col-md-6">
                <label for="entrydate" class="form-label">Entry Date</label>
                <input name="ticket[entrydate]" id="entrydate" type="date" class="form-control">
            </div>      
            <div class="mb-2 col-md-6">
                <label for="exitdate" class="form-label">Exit Date</label>
                <input name="ticket[exitdate]" id="exitdate" type="date" class="form-control">
            </div>    
        </div>
        


        <br>  
        <button type="submit" class="btn btn-dark edit-btn">Proceed to Pay</button>
    </form>
</div>  
</div> 
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var today = new Date().toISOString().split('T')[0];
        document.getElementById('entrydate').setAttribute('min', today);
        document.getElementById('exitdate').setAttribute('min', today);
    });
</script> 
</body>
</html>